@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light grey background */
}

.container {
    text-align: center;
}

.logo img {
    max-width: 300px; /* Adjust size as needed */
    margin-bottom: 20px;
}

.contact-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2345FF; /* Blue button */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Inter', sans-serif;
}

.contact-button a:hover {
    background-color: #49FC99; /* Darker blue on hover */
}
